body {
    background-color: white;
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
}
html {
    scroll-behavior: smooth;
}
#backToTop {
    position: fixed;
    display: none;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    outline: none;
    border: 2px solid black;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
}
#backToTop:hover {
    background-color: #333;
    color: #fff;
}
ul {
    position: relative;
	display: flex;
	align-items: center;
	height: 60px;
    width: 100%;
	top: 0;
    left: 0;
    background: black;
}
li {
    float: left;
    padding-left: 10px;
}
li a {
    display: inline-block;
    margin: 0px 30px;
    text-decoration: none;
    color: rgb(140, 140, 140);
}
li a:hover{
    color: white;
    transition: all 0.4s ease-in-out;
}
.cacao-type {
    margin-top: 20px;
    margin: 40px;
    padding: 30px;
}
.cacao-type-title {
    font-size: 40px;
    padding: 15px 0px;
}
.type-img {
    width: 300px;
    height: 200px;
    float: left;
    padding-right: 10px;
}
.cacao-type-content {
    font-size: 24px;
    line-height: 1.5;
    text-justify: inter-word;
}
.cacao-type-1, .cacao-type-2, .cacao-type-4 {
    border-radius: 10px;
    margin-top: 40px;
    padding: 25px;
    background-color: rgb(222,184,135);
}
h1 {
    font-size: 35px;
    padding-bottom: 10px;
}
.type-1-img {
    width: 300px;
    height: 300px;
    float: right;
    padding: 10px 0px;
}
.type-1-content, .type-2-content, .type-3-content, .type-4-content, .conclusion {
    font-size: 24px;
    line-height: 1.5;
}
.type-2-img {
    width: 300px;
    height: 280px;
    float: left;
    padding-right: 10px;
    padding-top: 10px;
}
.cacao-type-3 {
    border-radius: 10px;
    height: 380px;
    margin-top: 40px;
    padding: 25px;
    background-color: rgb(222,184,135);
}
.type-3-img {
    width: 230px;
    height: 300px;
    float: right;
    padding-left: 10px;
}
.type-3-content {
    padding-top: 10px;
}
.type-4-img {
    width: 250px;
    height: 320px;
    float: left;
    padding-right: 10px;
    padding-top: 5px;
}
.type-4-content {
    padding-top: 10px;
}
.conclusion {
    padding-top: 20px;
    text-justify: inter-word;
}
.con-img {
    width: 700px;
    height: 400px;
    float: left;
    padding-top: 5px;
    padding-right: 10px;
}
footer {
    height: 100px;
}
.infro-source {
    margin-top: 50px;
    color: black;
    padding: 10px;
    padding-left: 70px;
    line-height: 1.5;
    font-size: 18px;
    word-break: break-all;
}
@media screen and (max-width: 1000px) {
    .con-img, .type-1-img, .type-2-img, .type-3-img, .type-4-img {
        width: 100%;
    }
    .cacao-type-3 {
        height: auto;
    }
    .type-3-img {
        height: 800px;
    }
    .type-1-img, .type-2-img, .type-4-img {
        height: auto;
    }
}
@media screen and (max-width: 680px) {
    ul {
        height: auto;
        padding: 10px;
    }
    footer {
        height: auto;
    }
    .type-3-img {
        height: auto;
    }
}
@media screen and (max-width: 360px) {
    .cacao-type {
        word-break: break-all;
    }
}