body {
    background-color: #f0e8d8;
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
}
ul {
    position: relative;
	display: flex;
	align-items: center;
	height: 60px;
    width: 100%;
	top: 0;
    left: 0;
    background: black;
}
li {
    float: left;
    padding-left: 10px;
}
li a {
    display: inline-block;
    margin: 0px 30px;
    text-decoration: none;
    color: rgb(140, 140, 140);
}
li a:hover{
    color: white;
    transition: all 0.4s ease-in-out;
}
.cacao-making {
    margin: 50px;
    padding: 30px;
}
.cacao-harvest, .cacao-ferment, .cacao-dry, .cacao-roast, .cacao-winnowing, .cacao-refined {
    padding: 10px;
    height: 250px;
    margin-top: 20px;
}
.harvest-img, .ferment-img, .dry-img, .roast-img, .winnowing-img, .refined-img {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    float: left;
    padding-right: 20px;
}
span {
    font-size: 40px;
}
.harvest-content, .ferment-content, .dry-content, .roast-content, .winnowing-content, .refined-content {
    line-height: 1.5;
    text-align: justify;
    padding-top: 15px;
    font-size: 20px;
}
div p {
    padding-top: 10px;
}
footer {
    height: 100px;
}
.infro-source {
    line-height: 1.5;
    margin-top: 50px;
    color: black;
    padding: 10px;
    padding-left: 100px;
    line-height: 1.5;
    word-break: break-all;
}
@media screen and (max-width: 1025px) {
    .cacao-harvest, .cacao-ferment, .cacao-dry, .cacao-roast, .cacao-winnowing, .cacao-refined {
        height: auto;
    }
}
@media (min-width:769px) and (max-width:1024px) {
    .cacao-harvest {
        height: 280px;
    }
}
@media screen and (max-width: 680px) {
    ul {
        height: auto;
        padding: 10px;
    }
    .harvest-img, .ferment-img, .dry-img, .roast-img, .winnowing-img, .refined-img {
        float: none;
        border-radius: 0;
        width: auto;
        padding: 0;
    }
    .infro-source {
        padding-left: 90px;
    }
}
@media screen and (max-width: 481px) {
    .cacao-making {
        margin: 20px;
        padding: 0;
    }
    .harvest-img, .ferment-img, .dry-img, .roast-img, .winnowing-img, .refined-img {
        border-radius: 50%;
        width: 250px;
        height: 250px;
    }
    .infro-source {
        padding: 20px;
    }
}